<%= form_for(question_choice) do |f| %>
  <% if question_choice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question_choice.errors.count, "error") %> prohibited this question_choice from being saved:</h2>

      <ul>
      <% question_choice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :選択肢 %>
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.label :選択肢の番号 %>
    <%= f.number_field :value %>
  </div>

  <div class="field">
    <%= f.label :正解 %>
    <%= f.check_box :correct %>
  </div>
  
  <div class="field">
    <%= f.label :ここは変更しないで下さい %>
    <%= f.text_field :question_item_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
